{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue au Home Screen</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus id quia doloribus inventore, facilis deserunt sunt mollitia beatae ad recusandae culpa quisquam, voluptatum adipisci. Repellendus rem nesciunt culpa sed natus unde, doloremque. Quaerat, tenetur, cum! Eligendi ab commodi temporibus soluta possimus iure perferendis pariatur, recusandae sit at dolorum aut sapiente.</p>
{% endblock %}
